In [2]:
import datetime

d = datetime.date(2016,7,2)
print(d)

2016-07-02

In [4]:
d = datetime.date.today()
print(d)
print(d.weekday())

2024-04-25
3

In [5]:
t = datetime.timedelta(days = 7)

print(d+t)

2024-05-02

In [8]:
# displayes total seconds from present to 2012 date

bday = datetime.date(2012, 12,25)
dif = d-bday
print(dif.total_seconds())

357609600.0

In [ ]:
# datetime.time
# datetime.date
# datetime.datetime
# .year, .hour, .month, .seconds, .day

# **Date Class**

In [ ]:
# import the date class
from datetime import date

my_date = date(1996, 12, 11)

print("Date passed as argument is", my_date)

# Uncommenting my_date = date(1996, 12, 39)
# will raise an ValueError as it is
# outside range

# uncommenting my_date = date('1996', 12, 11)
# will raise a TypeError as a string is
# passed instead of integer

Date passed as argument is 1996-12-11

In [ ]:
# calling the today
# function of date class
today = date.today()

print("Today's date is", today)

Today's date is 2024-04-23

In [ ]:
today = date.today()

print("Current year:", today.year)
print("Current month:", today.month)
print("Current day:", today.day)

Current year: 2024
Current month: 4
Current day: 23

In [ ]:
today = date.today()

d1 = today.strftime("%A")
print("Weekday:", d1)

Weekday: Tuesday

In [ ]:
# isoweekday 1 - Monday to 7 - Sunday
today = date.today()

day = date.isoweekday(today)
print("Weekday:", day)

Weekday: 2

In [ ]:
# weekday 0 - Monday to 6 - Sunday

today = date.today()

day = date.weekday(today)
print("Weekday:", day)

Weekday: 1

# **Datetime class**

In [ ]:
from datetime import datetime

# Getting Datetime from timestamp
date_time = datetime.fromtimestamp(1887639468)
print("Datetime from timestamp:", date_time)

Datetime from timestamp: 2029-10-25 16:17:48

In [ ]:
a = datetime(1999, 12, 12, 12, 12, 12)

print("year =", a.year)
print("month =", a.month)
print("hour =", a.hour)
print("minute =", a.minute)
print("timestamp =", a.timestamp())

year = 1999
month = 12
hour = 12
minute = 12
timestamp = 945000732.0

In [ ]:
# Calling now() function
today = datetime.now()

print("Current date and time is", today)

Current date and time is 2024-04-23 08:56:07.946635

# **Time Class**

In [ ]:
# Python program to
# demonstrate time class

from datetime import time

# calling the constructor
my_time = time(13, 24, 56)

print("Entered time", my_time)

# calling constructor with 1
# argument
my_time = time(minute=12)
print("\nTime with one argument", my_time)

# Calling constructor with
# 0 argument
my_time = time()
print("\nTime without argument", my_time)

# Uncommenting time(hour = 26)
# will rase an ValueError as
# it is out of range

# uncommenting time(hour ='23')
# will raise TypeError as
# string is passed instead of int

Entered time 13:24:56

Time with one argument 00:12:00

Time without argument 00:00:00

In [ ]:
Time = time(11, 34, 56, 212)

print("hour =", Time.hour)
print("minute =", Time.minute)
print("second =", Time.second)
print("microsecond =", Time.microsecond)

hour = 11
minute = 34
second = 56
microsecond = 212

# **Calendar Class**

In [ ]:
import calendar

yy = 2017
mm = 12
print(calendar.month(yy,mm))

   December 2017
Mo Tu We Th Fr Sa Su
             1  2  3
 4  5  6  7  8  9 10
11 12 13 14 15 16 17
18 19 20 21 22 23 24
25 26 27 28 29 30 31

In [ ]:
print ("The calendar of year 2018 is : ")
print (calendar.calendar(2018))

The calendar of year 2018 is :
                                  2018

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7                1  2  3  4                1  2  3  4
 8  9 10 11 12 13 14       5  6  7  8  9 10 11       5  6  7  8  9 10 11
15 16 17 18 19 20 21      12 13 14 15 16 17 18      12 13 14 15 16 17 18
22 23 24 25 26 27 28      19 20 21 22 23 24 25      19 20 21 22 23 24 25
29 30 31                  26 27 28                  26 27 28 29 30 31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                   1          1  2  3  4  5  6                   1  2  3
 2  3  4  5  6  7  8       7  8  9 10 11 12 13       4  5  6  7  8  9 10
 9 10 11 12 13 14 15      14 15 16 17 18 19 20      11 12 13 14 15 16 17
16 17 18 19 20 21 22      21 22 23 24 25 26 27      18 19 20 21 22 23 24
23 24 25 26 27 28 29      28 29 30 31               25 26 27 28 29 30
30

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                   1             1  2  3  4  5                      1  2
 2  3  4  5  6  7  8       6  7  8  9 10 11 12       3  4  5  6  7  8  9
 9 10 11 12 13 14 15      13 14 15 16 17 18 19      10 11 12 13 14 15 16
16 17 18 19 20 21 22      20 21 22 23 24 25 26      17 18 19 20 21 22 23
23 24 25 26 27 28 29      27 28 29 30 31            24 25 26 27 28 29 30
30 31

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7                1  2  3  4                      1  2
 8  9 10 11 12 13 14       5  6  7  8  9 10 11       3  4  5  6  7  8  9
15 16 17 18 19 20 21      12 13 14 15 16 17 18      10 11 12 13 14 15 16
22 23 24 25 26 27 28      19 20 21 22 23 24 25      17 18 19 20 21 22 23
29 30 31                  26 27 28 29 30            24 25 26 27 28 29 30
                                                    31

In [ ]:
# importing calendar module
from calendar import Calendar

year = 2018
month = 9
obj = Calendar()

# iterating with itermonthdates
for day in obj.itermonthdates(year, month):
    print(day)

In [ ]:
# iterating with itermonthdays
for day in obj.itermonthdays(year, month):
    print(day)